[all]
mynode

[all:vars]
ansible_connection=ssh

setup_ansible_user=root
setup_ansible_ssh_pass=root

config_user_name=admin
config_user_password_clear=somepass
config_user_password=somepass_encrypted
config_user_public_key_file=~/.ssh/id_rsa.pub
config_user_private_key_file=~/.ssh/id_rsa

container_user=runlxc
public_ip=0.0.0.0