UserKnownHostsFile = ./known_hosts

# change according to your server subnet
Host 10.11.0.*
  IdentityFile ./keys/%r_ed25519
  ProxyCommand ssh -F ./ssh.cfg -W %h:%p %r@your-server.domain

Host your-server.domain
  IdentityFile ./keys/%r_ed25519
  HostName your-server.domain

