<IfModule rpaf_module>
    RPAF_Enable             On
    RPAF_ProxyIPs           {{ container_bridge_subnet }}.1 ::1
    RPAF_SetHostName        On
    RPAF_SetHTTPS           On
    RPAF_SetPort            On
    RPAF_ForbidIfNotProxy   Off
</IfModule>