{% for container_name in groups['container'] %}
group {{ container_user }}-{{ hostvars[container_name].hostname }} {
  perm {
    task {
      uid = {{container_user}}-{{ hostvars[container_name].hostname }};
      gid = {{container_user}}-{{ hostvars[container_name].hostname }};
    }
    admin {
      uid = {{container_user}}-{{ hostvars[container_name].hostname }};
      gid = {{container_user}}-{{ hostvars[container_name].hostname }};
    }
  }
  cpu {}
  blkio {}
  cpuacct {}
  cpuset {
    cgroup.clone_children = 1;
    cpuset.mems = 0;
    cpuset.cpus = 0;
  }
  devices {}
  freezer {}
  perf_event {}
  net_cls {}
  net_prio {}
}
{% endfor %}