# Distribution configuration
lxc.include = /usr/share/lxc/config/debian.common.conf
lxc.include = /usr/share/lxc/config/debian.userns.conf
lxc.arch = x86_64

# Container specific configuration
lxc.id_map = u 0 {{ uid_begin }} 65536
lxc.id_map = g 0 {{ uid_begin }} 65536
lxc.rootfs = /var/lib/lxc/{{ container.hostname }}/rootfs
lxc.rootfs.backend = dir
lxc.utsname = {{ container.hostname }}

# Network configuration
lxc.network.type = veth
lxc.network.link = lxc
lxc.network.flags = up
lxc.network.ipv4 = {{ container_ip }}/24
lxc.network.ipv4.gateway = {{ container_bridge_subnet }}.1

{% if (container.master_mount is defined) %}
{% for mount in container.master_mount %}
lxc.mount.entry = {{ mount.source_path }} {{ mount.target_path }} none bind 0 0
{% endfor %}
{% endif %}

# Autostart
lxc.start.auto = 1
lxc.start.delay = 5
lxc.start.order = 100