[icingaweb_db]
type = "db"
db = "mysql"
port = "3306"
host = "{{ icinga_mysql_host }}"
dbname = "{{ icinga_mysql_name }}"
username = "{{ icinga_mysql_user }}"
password = "{{ icinga_mysql_pass }}"
charset = "utf8"
persistent = "0"

[icinga_ido]
type = "db"
db = "mysql"
port = "3306"
host = "{{ icinga_mysql_host }}"
dbname = "{{ icinga_mysql_name }}"
username = "{{ icinga_mysql_user }}"
password = "{{ icinga_mysql_pass }}"
charset = "utf8"
persistent = "0"