[icingaweb_db]
type = "db"
db = "mysql"
host = "10.11.0.10"
port = "3306"
dbname = "icinga"
username = "icinga"
password = "icinga"
charset = "utf8"
persistent = "0"

[icinga_ido]
type = "db"
db = "mysql"
host = "10.11.0.10"
port = "3306"
dbname = "icinga"
username = "icinga"
password = "icinga"
charset = "utf8"
persistent = "0"