ServerAdmin admin@{{ domain_name }}

ServerName {{ domain_name }}
{% if site.aliases is defined %}
{% for alias in site.aliases %}
ServerAlias alias
{% endfor %}
{% endif %}

DocumentRoot /var/www/project/

<Directory />
	Options +FollowSymLinks
	AllowOverride None
</Directory>
<Directory /var/www/project/>
	Options -Indexes +FollowSymLinks
	AllowOverride None
	require all granted

	RewriteEngine on
	RewriteBase /

	{% if site.ssl is defined %}
	RewriteCond %{HTTPS} off
    RewriteRule .* https://{{ site.domain }}%{REQUEST_URI} [R=301,L]
    {% endif %}

    RewriteCond %{HTTP_HOST} !^{{ site.domain | replace('.', '\.') }}$
    RewriteRule .* http{% if site.ssl is defined %}s{% endif %}://{{ site.domain }}%{REQUEST_URI} [R=301,L]

	RewriteRule ^cometchat/(.*)$ tools/cometchat/$1 [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php?page=/$1 [L,QSA]

	<FilesMatch "\.(ico|png|jpg|jpeg|gif|svg|svgz|webp|ogg|oga|mp3|wav|flac|m4a|ogv|mp4|webm|js|css|eot|ttf|otf|woff)$">
		 Header set Cache-Control "max-age=604800, public"
	</FilesMatch>
</Directory>

# ribbl can write but no php execution is allowed:

<Directory /var/www/project/files/>
	php_admin_flag engine off
	require all denied
	<FilesMatch "\.({{ files_access }})$">
	  require all granted
	</FilesMatch>
</Directory>
<Directory /var/www/project/tools/cometchat/cache/>
	php_admin_flag engine off
	require all denied
	<FilesMatch "\.({{ asset_access }})$">
	  require all granted
	</FilesMatch>
</Directory>
<Directory /var/www/project/style/>
	php_admin_flag engine off
	require all denied
	<FilesMatch "\.({{ asset_access }})$">
	  require all granted
	</FilesMatch>
</Directory>
<Directory /var/www/project/src/>
	php_admin_flag engine off
	require all denied
	<FilesMatch "\.({{ asset_access }})$">
	  require all granted
	</FilesMatch>
</Directory>

# asset access in mixed content area

<Directory /var/www/project/vendor/>
	php_admin_flag engine off
	require all denied
	<FilesMatch "\.({{ asset_access }})$">
	  require all granted
	</FilesMatch>
</Directory>

<Directory /var/www/project/modules/>
	php_admin_flag engine off
	require all denied
	<FilesMatch "\.({{ asset_access }})$">
	  require all granted
	</FilesMatch>
</Directory>

# no public access

<Directory /var/www/project/css/>
	require all denied
</Directory>
<Directory /var/www/project/files/dbb/>
	require all denied
</Directory>
<Directory /var/www/project/files/scenario/>
	require all denied
</Directory>
<Directory /var/www/project/lib/>
	require all denied
</Directory>
<Directory /var/www/project/templates/>
	require all denied
</Directory>
<Directory /var/www/project/tmp/>
	require all denied
</Directory>