---

ports:
  inbound:
    - port: 22
      proto: tcp
    - port: 80
      proto: tcp
    - port: 443
      proto: tcp
  forward:
    - container_ip: 10.11.0.10
	  source_port: 2200
	  target_port: 22
	  source_net: 192.168.0.0/24
	- container_ip: 10.11.0.10
	  source_port: 3306
	  target_port: 3306
