---

# sites the master provides reverse proxy for

sites:
  - domain: somedomain
    admin: some email
    public_ip: someip
    target_ip: someip
    ssl:
	  cert_file: domain.crt
	  cert_key_file: domain.key
	  cert_chain_file: domain.ca
	  cert_sign_file: domain.csr