deb http://{{ apt_server }}/debian/ jessie main
deb-src http://{{ apt_server }}/debian/ jessie main

deb http://security.debian.org/ jessie/updates main
deb-src http://security.debian.org/ jessie/updates main

deb http://{{ apt_server }}/debian/ jessie-updates main
deb-src http://{{ apt_server }}/debian/ jessie-updates main

deb http://{{ apt_server }}/debian jessie-backports main

{% if aptsources is defined %}
{% for entry in aptsources %}
{{ entry }}
{% endfor %}
{% endif %}