#!/bin/bash

if [ "${1}" = "lxc" ]; then
if [ "${2}" = "stopped" ] || [ "${2}" = "reconnect" ]; then
{% for p in ports %}

iptables -t nat -D PREROUTING {% if p.source_net is defined %}-s {{ p.source_net }} {% endif %}-d {{ public_ip }} -p tcp --dport {{ p.source_port }} -j DNAT --to {{ p.container_ip }}:{{ p.target_port }}
iptables -D FORWARD -d {{ p.container_ip }}/32 -p tcp -m state --state NEW -m tcp --dport {{ p.target_port }} -j ACCEPT

{% endfor %}
fi
if [ "${2}" = "started" ] || [ "${2}" = "reconnect" ]; then
{% for p in ports %}

iptables -t nat -I PREROUTING 1 {% if p.source_net is defined %}-s {{ p.source_net }} {% endif %}-d {{ public_ip }} -p tcp --dport {{ p.source_port }} -j DNAT --to {{ p.container_ip }}:{{ p.target_port }}
iptables -I FORWARD 1 -d {{ p.container_ip }}/32 -p tcp -m state --state NEW -m tcp --dport {{ p.target_port }} -j ACCEPT

{% endfor %}
fi
fi