AcceptEnv LANG LC_*
AddressFamily inet
AllowTcpForwarding local
ChallengeResponseAuthentication no
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr,aes256-cbc
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
HostbasedAuthentication no
IgnoreRhosts yes
KeyRegenerationInterval 3600
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1
LogLevel INFO
LoginGraceTime 120
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
PermitTunnel no
Port 22
PrintLastLog yes
PrintMotd no
Protocol 2
PubkeyAuthentication yes
RSAAuthentication yes
RhostsRSAAuthentication no
ServerKeyBits 1024
StrictModes yes
Subsystem sftp /usr/lib/openssh/sftp-server
SyslogFacility AUTH
TCPKeepAlive yes
UseDNS no
UsePAM yes
UsePrivilegeSeparation yes
X11DisplayOffset 10
X11Forwarding no

AllowUsers {{ config_user_name }}

{% if container_user is defined %}
AllowUsers {{ container_user }}
{% endif %}

{% if admins is defined %}
{% for a in admins %}
AllowUsers {{ a.name }}
{% endfor %}
{% endif %}

{% if deploy_user is defined %}
AllowUsers {{ deploy_user }}
Match User {{ deploy_user }}
   ForceCommand internal-sftp
{% endif %}