	ServerAdmin admin@{{ site.domain }}

	ServerName {{ site.domain }}
{% if site.aliases is defined %}
{% for alias in site.aliases %}
	ServerAlias {{ alias.name }}
{% endfor %}
{% endif %}

{% if application.xsendfile_path %}
	XSendFile on
	XSendFileIgnoreEtag on
	XSendFileIgnoreLastModified on
	XSendFilePath {{ application.xsendfile_path }}
{% endif %}

	DocumentRoot {{ application.document_root }}

	<Directory />
		Options +FollowSymLinks
		AllowOverride None
	</Directory>

	<Directory {{ application.document_root }}>
		Options -Indexes +FollowSymLinks
		AllowOverride None

		RewriteEngine on
		RewriteBase /

{% if application.mod_rewrite is defined %}
{% for rewrite in application.mod_rewrite %}
		{{ rewrite.rewrite }}
{% endfor  %}
{% endif %}
	</Directory>