	ServerAdmin admin@{{ domain_name }}

	ServerName {{ domain_name }}
{% if site.aliases is defined %}
{% for alias in site.aliases %}
	ServerAlias {{ alias }}
{% endfor %}
{% endif %}

	DocumentRoot {{ application.document_root }}

	<Directory />
		Options +FollowSymLinks
		AllowOverride None
	</Directory>

	<Directory {{ application.document_root }}>
		Options -Indexes +FollowSymLinks
		AllowOverride None

		RewriteEngine on
		RewriteBase /

{% if application.mod_rewrite is defined %}
{% for rewrite in application.mod_rewrite %}
		{{ rewrite.rewrite }}
{% endfor  %}
{% endif %}
	</Directory>