ansible_connection: ssh

# user for setup

setup_ansible_user: root
setup_ansible_ssh_pass: root

# this user will gain sudo and will be used to configure the host

config_user_name: linux_username
config_user_password: hash_of_your_password
config_user_public_key_file: pub_key_file_path
config_user_private_key_file: private_key_file_path

public_ip: 0.0.0.0