includedir /etc/munin/munin-conf.d

{% if munin_nodes is defined %}
{% for g in munin_nodes %}
[{{ g.group }};]
{% for n in g.nodes %}
[{{ g.group }};{{ n.node }}]
    address {{ n.address }}
    port {{ n.port }}
	use_node_name yes
{% endfor %}
{% endfor %}
{% endif %}