includedir /etc/munin/munin-conf.d

[master]
    address {{ container_bridge_subnet }}.1
    use_node_name yes

[container;]
{% for host in groups['container'] %}
[container;{{ hostvars[host].hostname }}]
	address {{ hostvars[host].public_ip }}
	use_node_name yes
{% endfor %}